
.sect-class{
    margin-bottom: 12px;
}
.b-class{
    height: 30px;
    border-style: solid;
    width: 380px;
    ;
}
.group-class{
    height: 30px;
    border-style: solid;
    width: 580px;
    display: flex;
}